h1 {
    color: green;
    display: inline-block;
    background-color: yellow;
}
footer{
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
    text-align: center;
}