{% extends "base.html" %} {% block content %}

<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  <h1 class="title">Welcome, {{ name }}!</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="error">
        <ul class="flashes" style="color: teal; list-style-type: none">
          {% for message in messages %}
            <li> {{ message }} </li>
          {% endfor %}
        </ul>
        </p>
      {% endif %}
    {% endwith %}
  <!--TODO: Make a GET request to the /download path-->
  <a href="{{ url_for('download') }} " target="_blank">Download Your File</a>
</div>
{% endblock %}
