{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	    <table class="table table-dark table-striped table-hover">
          <table class="table table-dark table-borderless ">
              <thead class="table-group-divider">
                <tr>
                    {% for th in cafes[0] %}
                      <th scope="col">{{th}}</th> <!-- scope="col" means I'm the name/column/header for everything under me (in this column) -->
                    {% endfor %}
                </tr>
              </thead>
              <tbody >
                {% for data in cafes[1:] %}
                <tr class="table-group-divider">
                  <th scope="row">{{data[0]}}</th> <!-- means I'm the title/header for everything in this row -->
                  <!-- scope="row" and scope="col" usually have matters for google robots and readers for people who
                  problems with sight -->
                  <td><a class="mapLink" href="{{ data[1] }}" target="_blank">Maps Link</a></td>
                  {% for d in data[2:] %}
                  <td>{{ d }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
          </table>
  	    </table>
        <!-- <p>{{ cafes }}</p> -->
          <!-- This is where you will write the code to render a Bootstrap
          Table that contains all the information from the 
          cafe-data.csv file. -->

      <p><a class="homeReturn" href="{{url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
