{% extends "base.html" %}

{% block title %}Dodaj event{% endblock %}

{% block content %}
<h2>Dodaj event</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.date.label(class="form-label") }}
        {{ form.date(class="form-control", type="date") }}
    </div>
    <button type="submit" class="btn btn-primary">
        {{ form.submit.label.text }}
    </button>
</form>
{% endblock %}
