<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
  </head>
  <body>
    <datalist id="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </datalist>
    <form  method="POST" action="{{ url_for('home') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- it is a function from flask WTF from CSRFProtect, it works independently apart wtf forms -->
      <label for="book-input">Book Name</label>
      <input type="text" name="title" id="book-input" required/>
      <label for="author-input">Book Author</label>
      <input type="text" name="author" id="author-input" required/>
      <label for="rating-input">Rating</label>
      <input type="text" id="rating-input" list="rating" name="rating" required pattern="1|2|3|4|5|6|7|8|9|10"/>
      <button type="submit">Add Book</button>

    </form>

<!--  <p>List of Dict: {{ all_books }}</p>-->
  <br>
  <a href="{{ url_for('home') }}">Home Page</a>
  </body>
</html>
